<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Editar student</title>
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-image: url(https://images.wallpaperscraft.com/image/single/lake_landscape_nature_1164735_1920x1080.jpg);
        background-repeat: no-repeat;
      }
      form {
        padding: 50px;
        border-radius: 15px;
        background-color: rgb(213, 209, 209);
        padding: 15px;
      }

      .container {
        border-radius: 15px;
      }
    </style>
  </head>
  <body>
    <br />
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card"
        >
          <h1 class="text-center">Este estudiante sera editado</h1>
          <div class="card-body">
            <form
              th:action="@{/students/update/{studentId}(studentId=${student.studentId})}"
              th:object="${student}"
              method="POST"
            >
              <div class="form-group">
                <label>Nombre : </label>
                <input
                  type="text"
                  name="nombre"
                  th:field="*{firstName}"
                  class="form-control"
                  placeholder="Nombre : "
                  required
                />
              </div>

              <div class="form-group">
                <label>Apellido : </label>
                <input
                  type="text"
                  name="apellstudentIdo"
                  th:field="*{lastName}"
                  class="form-control"
                  placeholder="Apellido : "
                  required
                />
              </div>

              <div class="form-group">
                <label>Email : </label>
                <input
                  type="email"
                  name="email"
                  th:field="*{email}"
                  class="form-control"
                  placeholder="Email : "
                  required
                />
              </div>

              <div class="box-footer">
                <button class="btn btn-success">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
